{% extends 'base.html' %}
{% load static %}
{% block Title %}Movie details{% endblock %}
{% block new_css %}
    <link rel="stylesheet" href="{% static 'movie_details_style.css' %}">
{% endblock %}
{% block body %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
<div class="container nik-custom">
    <div class="row">
        <div class="col-md-5">
            <div class="project-info-box mt-0">
                <h5>MOVIE DESCRIPTION</h5>
                <p class="mb-0">{{ movie.movie_description }}</p>
            </div>

            <div class="project-info-box">
                <p><b>Name:</b> {{ movie.movie_name }}</p>
                <p><b>Genre:</b> {{ movie.movie_genre }}</p>
                <p><b>Rating:</b> {{ movie.movie_rating }}/10</p>
                {% if not movie.movie_comming_soon %}
                <p><b>Number of sold tickets:</b> {{ movie.movie_num_of_tickets }}/50</p>
                <p><b>Day and time:</b> {{ movie.movie_day }} at {{ time }}</p>
                <p class="mb-0"><b>Price:</b> ${{ movie.movie_price }}</p>
                {% endif %}
            </div>
            {% if not movie.movie_comming_soon or user.is_superuser %}
            <div class="project-info-box mt-0 mb-0">
                <p class="mb-0">
                {% if not movie.movie_comming_soon %}
                    <span class="fw-bold mr-10 va-middle hide-mobile">Order your ticket:</span>
                    <a href="{% url 'cinema:order' movie.id %}" class="btn btn-custom">Click here!</a>

                 {% if error_message %}
                        <br> <br>
                        <span class="fw-bold mr-10 va-middle hide-mobile text-danger" style="font-size: 15px;">{{ error_message }}</span>
                    {% endif %}
                {% endif %}
                    {% if user.is_superuser %}
                        <form action="{% url 'cinema:delete' movie.id %}" method="post" style="display: inline">
                        {% csrf_token %}
                        <input type="hidden" name="movie_id" value="{{ movie.id }}"/>
                           <button type="submit" class="btn btn-custom">
                               Delete
                           </button>
                        </form>
                        <form action="{% url 'cinema:edit' movie.id %}" method="get" style="display: inline">
                        {% csrf_token %}
                        <input type="hidden" name="movie_id" value="{{ movie.id }}"/>
                           <button type="submit" class="btn btn-custom">
                               Edit
                           </button>
                        </form>
                    {% endif %}
                </p>
            </div>
            {% endif %}
        </div>

        <div class="col-md-7">
            <img src="{{ movie.movie_photo.url }}" alt="project-image" class="rounded" style="max-width: 800px;max-height: 600px;">
        </div>
    </div>
</div>
{% endblock %}