{% extends 'base.html' %}
{% block Title %} Successful {% endblock %}
{% block body %}
    <div class="jumbotron text-center" style="background-color: rgba(164,164,164,0.4);margin-top: 10%;">

            <h1 class="display-3" style="color: white">Thank you for your trust {{ user.first_name }}!</h1>
            <p class="lead" style="color: white"><strong>You will receive an e-mail about your ticket. <br> Hope you have a great time. </strong></p>
                            <a class="btn btn-custom btn-sm" href="{% url 'cinema:home' %}" role="button">Continue to homepage</a>
            <hr>
        </div>
{% endblock %}